footer{
    background-color: black;
    h2{
        font-size: 1.4rem;
        text-align: center;
        font-style: $titulo;
        color: white;
    }
    .redess{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .logo2{
        width: 40px;
        padding-right: 5px;
        padding-left: 5px;
    }
}