$color-arena: #A9937B;
$color-marron: #755D45;
$color-gris: #bab5a8;
$color-verde: #63603f;
$titulo: 'Maven Pro', sans-serif;
$subtitulo: 'Fredoka', sans-serif;


    .nav-color{
        font-size: 1.2rem;
    }
    .nav-link{
        color: black;
    }
    .hover{
        &:hover{
            transform: scale(1.05);
            transition: 100ms ease;
            opacity: 0.9;
        }
    }
    