$color-arena: #A9937B;
$color-marron: #755D45;
$color-gris: #bab5a8;
$color-verde: #63603f;
$titulo: 'Maven Pro', sans-serif;
$subtitulo: 'Fredoka', sans-serif;

@import "main";
@import "header";
@import "footer";
@import "media";
